* {
    box-sizing: border-box;
}

body {
    
    display: flex;
    justify-content: center;
    background-image: url('galaxy-wallpaper-36.jpg');
    background-size: cover;    
    
     
           
}

#msg{
    position: absolute;
    bottom: 5%;
    color: gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    z-index: 999;
    
}

#msg.winner{
    font-size: 10rem;
    left: 25%;
    bottom: 35%;
    
}
    

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 1000px;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
}

.card {
    margin: 2px;
    display: block;                
    height: 220px;
    width: 160px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(58, 57, 57, 0.712);
    
}

.card.back{    
    background-image: url('hitc_2.jpg');
    background-size: cover;
}

.card.front.red {
    background-color: red;
}

.card.front.green{
    background-color: green;
}

.card.front.yellow{
    background-color: yellow;
}

.card.front.orange{
    background-color: orange;
}

.card.front.purple{  
    background-color: purple;    
}

.card.front.blue{    
    background-color: blue;
}